# vim: set filetype=
[[plugins]]
repo = 'davidhalter/jedi-vim'
on_ft = 'python'
hook_add = '''
  let g:deoplete#sources#jedi#server_timeout=100
  let g:deoplete#sources#jedi#statement_length=100
  " jedi本体の補完は切る（deoplete-jediで非同期処理をしてくれるため）
  let g:jedi#completions_enabled = 0
'''


# C++用deoplete
# config from : https://qiita.com/arwtyxouymz0110/items/b09ef1ed7a2f7bf1c5e6
# [[plugins]]
# repo = 'zchee/deoplete-clang'
# on_ft = ['c', 'cpp', 'cmake']
# hook_source = '''
#     let g:deoplete#sources#clang#libclang_path = system("llvm-config --prefix")[:-2] . '/lib/libclang.dylib'
#     let g:deoplete#sources#clang#clang_header = system("llvm-config --prefix")[:-2] . '/lib/clang'
#     let g:deoplete#sources#clang#sort_algo = 'priority'
#     let g:deoplete#sources#clang#clang_complete_database="./build/"
# '''
# depends = ['deoplete.nvim']

# [[plugins]]
# repo = 'autozimu/LanguageClient-neovim'
# rev = 'next'
# build = 'bash install.sh'
# hook_add = '''
#    source ~/.config/nvim/plugins/LanguageClient-neovim
# '''

# config from : http://kutimoti.hatenablog.com/entry/2018/06/09/165225

# config from : https://christina04.hatenablog.com/entry/migrate-from-vim-go-to-vim-lsp


# ヘッダ補完してくれるようになるやつ
#[[plugins]]
#repo = 'Shougo/neoinclude.vim'
#on_ft = ['c', 'cpp']
#depends = ['deoplete.nvim']


# linter 実行プラグイン
# [[plugins]]
# repo = 'w0rp/ale'
# hook_add = '''
#   source ~/.config/nvim/plugins/ale
# '''

# ctags gtags自動生成
#[[plugins]]
#repo = 'jsfaint/gen_tags.vim'
#hook_add = '''
#  let g:gen_tags#ctags_auto_gen = 1
#  let g:gen_tags#gtags_auto_gen = 1
#'''


# Rust補完
# config from : https://qiita.com/miyagi1024/items/d73c32af9d2ed3a7ce73
# Rust
[[plugins]]
repo = 'rust-lang/rust.vim'
on_ft = 'rust'
hook_source = '''
    let g:rustfmt_autosave = 1
    let g:rust_doc#define_map_K = 0
'''

[[plugins]]
repo = 'sebastianmarkow/deoplete-rust'
on_ft = 'rust'
depends = ['deoplete.nvim']
hook_source = '''
    let g:deoplete#sources#rust#racer_binary='/home/hiroya/.cargo/bin/racer'
    let g:deoplete#sources#rust#rust_source_path='/home/hiroya/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/src/rust/src'
    let $RUST_SRC_PATH='/home/hiroya/.rustup/toolchains/stable-x87_64-unknown-linux-gnu/lib/rustlib/src/rust/src'
    let g:deoplete#sources#rust#show_duplicates=1
    let g:deoplete#sources#rust#disable_keymap=1
    nmap <buffer> gd <plug>DeopleteRustGoToDefinitionDefault
    nmap <buffer> K  <plug>DeopleteRustShowDocumentation
'''

# Vim-racer
[[plugins]]
repo = 'racer-rust/vim-racer'
on_ft = 'rust'
hook_source = '''
    " racerバイナリ指定
    let g:racer_cmd = '/home/hiroya/.cargo/bin/racer'
    " rust本体のソースコードパス指定
    let $RUST_SRC_PATH='/home/hiroya/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/src/rust/src'
'''


